body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
}

.card {
    border: 1px solid grey;
    border-radius: 10%;
    width: 200px;
    min-height: 100px;
    padding: 30px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.card-item {
    padding: 6px;
}